/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling untuk header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 20px;
    color: white;
}

header .logo h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Hero section */
.hero {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}

.hero .hero-content {
    max-width: 600px; /* Optional: set a max width to avoid stretching content */
}

.hero h2 {
    font-size: 36px;
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px; /* Adding some space between paragraph and button */
}

.hero .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.hero .btn:hover {
    background-color: #45a049;
}

/* Categories section */
.categories {
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

.categories h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.category-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-item {
    text-align: center;
    margin: 20px;
}

.category-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.category-item h3 {
    font-size: 20px;
    color: #333;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 14px;
}
